body {
    font-family: "Plus Jakarta Sans",sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex: 1;
}
.navbar {
    height: 5rem;
    background-color: white;
}
.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}
.nav-link {
    color: #222222 !important;
}
.f-info-links a{
   text-decoration: none;
   color: #222222;
}
.f-info-links a  :hover {
    text-decoration: underline;
}
.f-info-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials,.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i {
    font-size:  1.2rem;
    margin-right: 0.3rem;
}
.f-info {
    text-align: center;
    background-color: #ebebeb;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body {
    padding: 0 !important;
}
.card-text {
    font-weight: 400;
}
.listing-link {
    text-decoration: none;
}
/* card - effect */
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn {
    background-color: #fe424d !important;
}
.edit-btn {
    background-color: #fe424d !important;
}
.show-img {
    height: 30vh;

}
.btns {
    display: flex;
}
.show-card {
    padding-left: 0;
    padding-right: 0;
}


 /*Map*/
#map {
    height: 400px;
    width: 80vh;
}
#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
}
.filter:hover {
    opacity: 1;
    cursor: pointer;
}
.filter p {
    font-size: 0.8rem;
}
.text-info {
    display: none;
}
.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}
.search-btn{
    background-color:  #fe424d !important;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
}
.search-btn i {
    display: inline;
    margin-right: 0.5rem;
}